body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

.header,
.content {
    padding: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

ul {
    gap: 18px;
    display: flex;
    list-style-type: none;
}

.content {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.button-content {
    padding: 5px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    max-width: 100px;
    color: white;
    background-color: #3882F6;
    border: 0px solid transparent;
}

span {
    padding: 10px;
    background-color: gray;
    flex-basis: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: 'Hero';
    max-width: 100px;
    text-align: center;
}

#title-information {
    font-family: 'Roboto';
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card img {
    border: 2px solid blue;
    max-height: 80px;
    max-height: 80px;
}

.quotes {
    display: flex;
    background-color: #E5E7EB;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes p {
    flex-wrap: wrap;
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    max-width: 600px;
}

.quotes h3 {
    margin-left: 300px;
}

.sign-up {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background-color: transparent;
}

.inner-content {
    gap: 20px;
    justify-content: space-evenly;
    border-radius: 15px;
    align-items: center;
    flex-direction: center;
    padding: 20px;
    display: flex;
    background-color: #3882F6;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 400px;
}

.footer {
    padding: 20px;
    display: flex;
    font-size: 11px;
    color: #E5E7EB;
    justify-content: center;
    background-color: #1F2937;
}